[submodule "themes/next"]
	path = themes/next
	url = git@github.com:bwangel23/hexo-theme-next.git
[submodule "themes/yelee"]
	path = themes/yelee
	url = git@github.com:bwangel23/hexo-theme-yelee.git
[submodule "themes/even"]
	path = themes/even
	url = git@github.com:bwangel23/hexo-theme-even
